@model ProjectGames.DTO.GamesDTO
@{
    Layout = null;
}

@if (ViewBag.tipo == 0)
{
    @foreach (var item in Model.listGames)
    {
        <div style="margin-left:5%;display:inline-flex;margin-top:5px;margin-bottom:-5px">
            <img src="@item.icon" height="25px" style="border:1px solid transparent">
            <p class="id_nome" onclick="PageGame(@item.id)" style="color:white;margin-left:3px;cursor:pointer;font-size:13px">@item.nome</p>
        </div>
    }
}
@if (ViewBag.tipo == 1)
{
    @foreach (var item in Model.listGames)
    {
        <div style="margin-left:5%;display:inline-flex;margin-top:5px;margin-bottom:-5px">
            <img src="@item.icon" height="25px" style="border:1px solid transparent">
            <p class="id_nome" onclick="LoadScreen(@item.id)" style="color:white;margin-left:3px;cursor:pointer;font-size:13px">@item.nome</p>
        </div>
    }
}

<style>
    .id_nome:hover {
        color: #8cb4ff
    }
</style>